@using WebShop_OL_OASP_DEV_H_06_23.Services.Interfaces
@inject IBuyerService buyerService

@model Shared_OL_OASP_DEV_H_06_23.Models.ViewModel.OrderModels.OrderViewModel



@{
    ViewData["Title"] = "MyOrder";
    var productItems = await buyerService.GetProductItems(Model.OrderItems.Select(y => y.ProductItemId.Value).ToList());
    int rowCounter = 1;
}

<h1>MyOrder</h1>


<h4>Detalji narudžbe</h4>
<div class="row">
    <div class="col-5">
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Id)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Id)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Buyer.FirstName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Buyer.LastName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Total)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Total)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Message)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Message)
            </dd>

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.OrderAddress.Country)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.OrderAddress.Country)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.OrderAddress.City)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.OrderAddress.City)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.OrderAddress.Street)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.OrderAddress.Street)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.OrderAddress.Number)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.OrderAddress.Number)
            </dd>
        </dl>
    </div>


    <div class="col-7">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Naziv</th>
                    <th>Quantity</th>
                    <th>Remove</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.OrderItems.Count; i++)
                {
                    var productItem = productItems.FirstOrDefault(y => y.Id == Model.OrderItems[i].ProductItemId);
                    <tr>
                        <td>@rowCounter</td>
                        <td>@productItem.Name</td>
                        <td>
                            <span>
                                @Model.OrderItems[i].Quantity
                            </span>
                        </td>
                        <td>
                            <input type="checkbox" name="OrderItems[@i].Remove" value="true" />
                        </td>
                    </tr>
                    rowCounter++;
                }
            </tbody>
        </table>
    </div>
</div>
