@model IEnumerable<Shared_OL_OASP_DEV_H_06_23.Models.ViewModel.ProductModels.ProductCategoryViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    @Html.ActionLink("Dodaj novu stavku", "Create", "Admin", null, new { @class = "btn btn-primary btn-sm" })
</p>
<style>
    /* CSS to change cursor on hover for Bootstrap table rows */
    .table-hover tbody tr:hover {
        cursor: pointer;
    }
</style>
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr onclick="window.location='@Url.Action("Details", "Admin", new { id = item.Id })';">
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.ActionLink("Uredi", "Edit", "Admin", new { id = item.Id }, new { @class = "btn btn-warning btn-sm" })
                    @Html.ActionLink("Obriši", "Delete", "Admin", new { id = item.Id }, new { @class = "btn btn-danger btn-sm" })
                </td>
            </tr>
        }
    </tbody>
</table>
